<div class="centered-content">
    <div class="white-box">
  
      <h1 class="change-password-title has-text-primary">Change Password</h1>
      <br>
      <div class="field">
        <p class="control has-icons-left has-icons-right">
          <input #PwInput class="input has-background-light" type="password" placeholder="Enter New password">
          <span class="icon is-small is-left">
            <i class="fas fa-key"></i>
          </span>
        </p>
      </div>
      
      <br>
      <div class="buttons is-right">
          <button class="button is-danger has-text-white" routerLink="/">Cancel</button>
          <button class="button is-success has-text-white" (click)="onSaveClick(PwInput.value)">Save</button>
      </div>
    </div>
</div>
  